* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* Navbar */
.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0 80px;
}
.nav-logo-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.nav-logo-img {
  height: 44px;
  width: 134px;
}

.nav-center {
  flex: 2;
}

.nav-menu {
  display: flex;
  list-style: none;
  justify-content: center;
  color: #575757;
  gap: 50px;
}

a {
  color: #575757;
  text-decoration: none;
}

.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-button,
.hero-section-btn {
  height: 48px;
  width: 180px;
  background-color: #1d4ed8;
  color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

/* Navber-End ,Hero-section-start */

.hero-section {
  background-image: url(./assets/banner.jpg);
  background: linear-gradient(#000000 42% #000000 82%);
  width: 100%;
  height: 786px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero-text {
  margin: 120px;
  color: #ffffff;
  text-align: center;
}
.hero-section h1 {
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 40px;
}
.h1-span {
  font-style: italic;
}

.hero-section p {
  margin: 0 auto;
  max-width: 560px;
}

.hero-section-btn {
  border: none;
  align-self: center;
  margin-bottom: 80px;
  height: 50px;
  width: 220px;
  font-size: medium;
}

/* Hero-section-end, meet-the-speakers-section strat */
